# Make training dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
pd.set_option('display.max_columns', 500)

In [2]:
train = pd.read_csv('../first_50000_rows.csv', sep='|')
train = train.drop(['portId','etaRaw'], axis=1)
train['time'] = pd.to_datetime(train['time'])
train = train.sort_values(by=['vesselId','time'])
train.head()

,time,cog,sog,rot,heading,navstat,latitude,longitude,vesselId
65,2024-01-01 00:14:36,348.0,0.0,0,333,5,51.30883,3.23027,61e9f38eb937134a3c4bfd8d
218,2024-01-01 00:35:36,8.0,0.0,0,333,5,51.30882,3.23025,61e9f38eb937134a3c4bfd8d
378,2024-01-01 00:56:34,20.0,0.0,0,333,5,51.30882,3.23027,61e9f38eb937134a3c4bfd8d
526,2024-01-01 01:17:35,6.0,0.0,0,334,5,51.30880,3.23023,61e9f38eb937134a3c4bfd8d
612,2024-01-01 01:35:36,353.0,0.0,0,334,5,51.30882,3.23030,61e9f38eb937134a3c4bfd8d

In [3]:
print(train["vesselId"].value_counts())

# modify train so it only contains vesselId: 6323f2287abc89c0a9631e57 and 61e9f466b937134a3c4c0273

#train = train[train['vesselId'].isin(['6323f2287abc89c0a9631e57', '61e9f466b937134a3c4c0273'])]

vesselId
61e9f45eb937134a3c4c0237    311
61e9f3c7b937134a3c4bfed9    311
61e9f42eb937134a3c4c0107    310
61e9f414b937134a3c4c005f    310
61e9f465b937134a3c4c0269    310
                           ...
61e9f409b937134a3c4c0027      1
61e9f3deb937134a3c4bff4b      1
61e9f441b937134a3c4c018d      1
61e9f40bb937134a3c4c002d      1
61e9f457b937134a3c4c0205      1
Name: count, Length: 435, dtype: int64

In [4]:
vessels = pd.read_csv('../vessels.csv', sep='|')
display(vessels.head())

# Keep only the vessels that are in the train set
print(vessels.shape)
vessels = vessels[vessels['vesselId'].isin(train['vesselId'])]
print(vessels.shape)
print(vessels.describe())

# print number of nan values in each column
print(vessels.isna().sum())

,shippingLineId,vesselId,CEU,DWT,GT,NT,vesselType,breadth,depth,draft,enginePower,freshWater,fuel,homePort,length,maxHeight,maxSpeed,maxWidth,rampCapacity,yearBuilt
0,61a8e672f9cba188601e84ab,61e9f38eb937134a3c4bfd8b,6500,21200.0,58684,17606.0,83.0,32.0,22.20,NaN,0.0,NaN,NaN,OSLO,199.00,5.0,18.6,15.2,150.0,2000
1,61ec94f1a8cafc0e93f0e92a,61e9f38eb937134a3c4bfd8d,4902,12325.0,46800,NaN,83.0,31.0,NaN,NaN,14220.0,NaN,NaN,MONROVIA,182.00,NaN,NaN,NaN,NaN,2006
2,61e213d5d612676a0f0fb755,61e9f38eb937134a3c4bfd8f,5000,13059.0,46800,NaN,83.0,31.0,NaN,NaN,14220.0,NaN,NaN,SAINT JOHN'S,182.00,NaN,NaN,NaN,NaN,2010
3,61be24574ea00ae59d0fe388,61e9f38eb937134a3c4bfd91,4200,12588.0,39362,NaN,83.0,28.0,NaN,NaN,11060.0,NaN,NaN,NaN,167.00,NaN,NaN,NaN,NaN,2011
4,61a8e673f9cba188601e84ae,61e9f390b937134a3c4bfd93,7450,21052.0,75528,24391.0,83.0,37.2,22.23,NaN,13140.0,491.47,3236.78,Panama,199.98,NaN,NaN,NaN,NaN,2018

(711, 20)
(435, 20)
               CEU            DWT             GT            NT  vesselType
count   435.000000     429.000000     435.000000    113.000000  427.000000  \
mean   4688.627586   17884.627040   49558.701149  17649.327434   70.625293
std    2364.610735    8708.540642   17556.694498   3964.389922   24.855736
min       0.000000    3222.000000    8659.000000   3444.000000   14.000000
25%    2500.000000   12588.000000   36902.000000  14679.000000   83.000000
50%    5219.000000   18384.000000   52276.000000  18296.000000   83.000000
75%    6500.000000   21214.000000   60248.500000  19152.000000   83.000000
max    8500.000000  108650.000000  100430.000000  29329.000000   83.000000

          breadth       depth     draft   enginePower  freshWater
count  429.000000  148.000000   8.00000    420.000000  135.000000  \
mean    30.752238   21.353514   9.06000   6620.140476  473.278667
std      3.968225    2.638881   2.88123   7310.885276  132.320518
min     18.000000   11.900000   5.75000      0.000000  178.850000
25%     30.000000   20.947500   7.56000      0.000000  368.000000
50%     32.000000   21.310000   8.28500      0.000000  450.000000
75%     32.260000   21.950000   9.79750  13842.500000  566.500000
max     42.000000   32.600000  15.35000  32459.000000  806.580000

              fuel      length  maxHeight    maxSpeed   maxWidth
count   135.000000  435.000000  25.000000  128.000000  25.000000  \
mean   2982.719185  193.669738   5.160000   21.776562  12.444000
std     434.556458   26.037390   0.660808    0.681878   5.342446
min     502.000000   99.900000   3.000000   18.800000   0.000000
25%    2806.500000  182.000000   5.000000   21.500000   7.600000
50%    2994.510000  199.000000   5.000000   21.800000  15.200000
75%    3185.000000  199.980000   5.200000   22.200000  15.200000
max    4359.300000  296.000000   6.500000   23.300000  19.300000

       rampCapacity    yearBuilt
count      24.00000   435.000000
mean      165.62500  2007.457471
std        83.72201     6.291308
min        80.00000  1985.000000
25%       120.00000  2004.000000
50%       150.00000  2008.000000
75%       150.00000  2011.000000
max       375.00000  2022.000000
shippingLineId      0
vesselId            0
CEU                 0
DWT                 6
GT                  0
NT                322
vesselType          8
breadth             6
depth             287
draft             427
enginePower        15
freshWater        300
fuel              300
homePort           84
length              0
maxHeight         410
maxSpeed          307
maxWidth          410
rampCapacity      411
yearBuilt           0
dtype: int64

In [5]:
print(vessels['shippingLineId'].value_counts())

shippingLineId
61ec6303a8cafc0e93f0e8f3     56
61a8e672f9cba188601e84ac     42
61be24564ea00ae59d0fe37a     41
61a8e673f9cba188601e84ae     39
61be24564ea00ae59d0fe379     33
61a8e673f9cba188601e84ad     32
61a8e672f9cba188601e84ab     28
61a8e673f9cba188601e84b9     26
61a8e673f9cba188601e84b3     18
61ec643ca8cafc0e93f0e8f9     18
61ec65aea8cafc0e93f0e900     17
61a8e673f9cba188601e84bb     16
61a8e673f9cba188601e84b5     11
61be24574ea00ae59d0fe388     10
61a8e674f9cba188601e84c2     10
61e213d5d612676a0f0fb755      9
61a8e673f9cba188601e84ba      6
61be24564ea00ae59d0fe37f      5
61be24564ea00ae59d0fe378      5
61a8e673f9cba188601e84b2      3
61ec94f1a8cafc0e93f0e92a      3
61be24564ea00ae59d0fe380      3
61a8e673f9cba188601e84bc      2
61be24574ea00ae59d0fe38d      1
clh4x6qc5000008lf4vi15u9m     1
Name: count, dtype: int64

In [6]:
# Merge vessels into train
train = pd.merge(train, vessels, on='vesselId', how='left')
train.drop(['NT','depth', 'draft', 'freshWater', 'fuel', 'homePort', 'maxHeight','maxSpeed', 'maxWidth', 'rampCapacity','shippingLineId'], axis=1, inplace=True)
train.fillna(-1, inplace=True)

In [7]:
train.head()

,time,cog,sog,rot,heading,navstat,latitude,longitude,vesselId,CEU,DWT,GT,vesselType,breadth,enginePower,length,yearBuilt
0,2024-01-01 00:14:36,348.0,0.0,0,333,5,51.30883,3.23027,61e9f38eb937134a3c4bfd8d,4902,12325.0,46800,83.0,31.0,14220.0,182.0,2006
1,2024-01-01 00:35:36,8.0,0.0,0,333,5,51.30882,3.23025,61e9f38eb937134a3c4bfd8d,4902,12325.0,46800,83.0,31.0,14220.0,182.0,2006
2,2024-01-01 00:56:34,20.0,0.0,0,333,5,51.30882,3.23027,61e9f38eb937134a3c4bfd8d,4902,12325.0,46800,83.0,31.0,14220.0,182.0,2006
3,2024-01-01 01:17:35,6.0,0.0,0,334,5,51.30880,3.23023,61e9f38eb937134a3c4bfd8d,4902,12325.0,46800,83.0,31.0,14220.0,182.0,2006
4,2024-01-01 01:35:36,353.0,0.0,0,334,5,51.30882,3.23030,61e9f38eb937134a3c4bfd8d,4902,12325.0,46800,83.0,31.0,14220.0,182.0,2006

In [8]:
def create_training_data(df: pd.DataFrame, N_KEEP_PAST: int) -> pd.DataFrame:
    data_rows = []  # List to collect all the data rows
    vessel_list = df['vesselId'].unique()
    for vessel in tqdm(vessel_list):
        vessel_data = df[df['vesselId'] == vessel].sort_values(by='time').reset_index(drop=True)
        num_rows = vessel_data.shape[0]
        if num_rows <= N_KEEP_PAST:
            continue  # Skip vessels with insufficient data
        for i in range(N_KEEP_PAST, num_rows):
            # Collect past N_KEEP_PAST locations and timestamps
            past_data = vessel_data.loc[i - N_KEEP_PAST:i - 1].reset_index(drop=True)
            current_data = vessel_data.loc[i]
            # Prepare a dictionary to hold the features and target
            data_row = {}
            target_time = current_data['time']
            for j in range(N_KEEP_PAST):
                past_time = past_data.loc[j, 'time']
                # Calculate the difference in minutes between past time and target time
                time_diff = (target_time - past_time).total_seconds() / 60.0  # Difference in minutes
                data_row[f'minutes_from_target_{j}'] = time_diff
                data_row[f'lat_{j}'] = past_data.loc[j, 'latitude']
                data_row[f'lon_{j}'] = past_data.loc[j, 'longitude']
                #######
                data_row[f'cog_{j}'] = past_data.loc[j, 'cog']
                data_row[f'sog_{j}'] = past_data.loc[j, 'sog']
                data_row[f'rot_{j}'] = past_data.loc[j, 'rot']
                data_row[f'heading_{j}'] = past_data.loc[j, 'heading']
                data_row[f'navstat_{j}'] = past_data.loc[j, 'navstat']
                ######
            # Add current location as the target
            data_row['target_lat'] = current_data['latitude']
            data_row['target_lon'] = current_data['longitude']
            #data_row['CEU'] = current_data['CEU']
            #data_row['DWT'] = current_data['DWT']
            #data_row['GT'] = current_data['GT']
            #data_row['vesselType'] = current_data['vesselType']
            #data_row['breadth'] = current_data['breadth']
            #data_row['enginePower'] = current_data['enginePower']
            #data_row['length'] = current_data['length']
            #data_row['yearBuilt'] = current_data['yearBuilt']
            
            data_row['vesselId'] = vessel  # Include vesselId if needed
            data_row['target_time'] = target_time # Remove eventually
            
            
            # Append the row to the list
            data_rows.append(data_row)
    # Create final DataFrame from the list of data rows
    final_df = pd.DataFrame(data_rows)
    return final_df

In [9]:
N_KEEP_PAST = 5
final_train = create_training_data(train, N_KEEP_PAST)

100%|██████████| 435/435 [00:42<00:00, 10.35it/s]

In [10]:
print(final_train.shape)
display(final_train.tail())

(47933, 44)

,minutes_from_target_0,lat_0,lon_0,cog_0,sog_0,rot_0,heading_0,navstat_0,minutes_from_target_1,lat_1,lon_1,cog_1,sog_1,rot_1,heading_1,navstat_1,minutes_from_target_2,lat_2,lon_2,cog_2,sog_2,rot_2,heading_2,navstat_2,minutes_from_target_3,lat_3,lon_3,cog_3,sog_3,rot_3,heading_3,navstat_3,minutes_from_target_4,lat_4,lon_4,cog_4,sog_4,rot_4,heading_4,navstat_4,target_lat,target_lon,vesselId,target_time
47928,101.300000,53.90877,8.68069,149.3,20.0,1,146,0,81.100000,53.86909,8.72188,143.5,5.0,14,129,0,60.933333,53.86179,8.72544,0.0,0.1,3,134,0,42.016667,53.86174,8.72497,0.0,0.0,0,134,5,21.016667,53.86173,8.72497,0.0,0.0,-1,135,5,53.86176,8.72497,clh6aqawa0007gh0z9h6zi9bo,2024-01-05 05:56:19
47929,102.100000,53.86909,8.72188,143.5,5.0,14,129,0,81.933333,53.86179,8.72544,0.0,0.1,3,134,0,63.016667,53.86174,8.72497,0.0,0.0,0,134,5,42.016667,53.86173,8.72497,0.0,0.0,-1,135,5,21.000000,53.86176,8.72497,0.0,0.0,-2,135,5,53.86175,8.72496,clh6aqawa0007gh0z9h6zi9bo,2024-01-05 06:17:19
47930,99.933333,53.86179,8.72544,0.0,0.1,3,134,0,81.016667,53.86174,8.72497,0.0,0.0,0,134,5,60.016667,53.86173,8.72497,0.0,0.0,-1,135,5,39.000000,53.86176,8.72497,0.0,0.0,-2,135,5,18.000000,53.86175,8.72496,0.0,0.0,3,135,5,53.86178,8.72498,clh6aqawa0007gh0z9h6zi9bo,2024-01-05 06:35:19
47931,102.016667,53.86174,8.72497,0.0,0.0,0,134,5,81.016667,53.86173,8.72497,0.0,0.0,-1,135,5,60.000000,53.86176,8.72497,0.0,0.0,-2,135,5,39.000000,53.86175,8.72496,0.0,0.0,3,135,5,21.000000,53.86178,8.72498,0.0,0.0,-2,135,5,53.86178,8.72498,clh6aqawa0007gh0z9h6zi9bo,2024-01-05 06:56:19
47932,102.033333,53.86173,8.72497,0.0,0.0,-1,135,5,81.016667,53.86176,8.72497,0.0,0.0,-2,135,5,60.016667,53.86175,8.72496,0.0,0.0,3,135,5,42.016667,53.86178,8.72498,0.0,0.0,-2,135,5,21.016667,53.86178,8.72498,0.0,0.0,2,134,5,53.86180,8.72498,clh6aqawa0007gh0z9h6zi9bo,2024-01-05 07:17:20

# Modify Test dataset

In [14]:
test = pd.read_csv('../ais_test.csv')
test['time'] = pd.to_datetime(test['time'])

In [ ]:
print(test.shape)
# modify test so it only contains vesselId: 6323f2287abc89c0a9631e57 and 61e9f466b937134a3c4c0273
#test = test[test['vesselId'].isin(['6323f2287abc89c0a9631e57', '61e9f466b937134a3c4c0273'])]
print(test.shape)
display(test.head())

In [16]:
def create_test_features(train_df: pd.DataFrame, test_df: pd.DataFrame, N_KEEP_PAST: int) -> pd.DataFrame:
    data_rows = []  # List to collect all the data rows
    vessel_list = test_df['vesselId'].unique()
    
    for vessel in tqdm(vessel_list):
        # Get the test data for this vessel
        test_vessel_data = test_df[test_df['vesselId'] == vessel]
        for idx, test_row in test_vessel_data.iterrows():
            target_time = test_row['time']
            ID = test_row['ID']
            scaling_factor = test_row['scaling_factor']  # If needed later
            
            # Get past data from train for this vessel before the target time
            vessel_train_data = train_df[(train_df['vesselId'] == vessel) & (train_df['time'] < target_time)]
            vessel_train_data = vessel_train_data.sort_values(by='time').reset_index(drop=True)
            num_past_points = vessel_train_data.shape[0]
            
            if num_past_points < N_KEEP_PAST:
                # Not enough past data; decide how to handle (skip or pad with NaNs)
                continue  # Or handle as per your requirement
            
            # Get the last N_KEEP_PAST records
            past_data = vessel_train_data.iloc[-N_KEEP_PAST:].reset_index(drop=True)
            
            # Prepare a dictionary to hold the features
            data_row = {}
            for j in range(N_KEEP_PAST):
                past_time = past_data.loc[j, 'time']
                # Calculate the difference in minutes between past time and target time
                time_diff = (target_time - past_time).total_seconds() / 60.0  # Difference in minutes
                data_row[f'minutes_from_target_{j}'] = time_diff
                data_row[f'lat_{j}'] = past_data.loc[j, 'latitude']
                data_row[f'lon_{j}'] = past_data.loc[j, 'longitude']
                ###
                data_row[f'cog_{j}'] = past_data.loc[j, 'cog']
                data_row[f'sog_{j}'] = past_data.loc[j, 'sog']
                data_row[f'rot_{j}'] = past_data.loc[j, 'rot']
                data_row[f'heading_{j}'] = past_data.loc[j, 'heading']
                data_row[f'navstat_{j}'] = past_data.loc[j, 'navstat']
                ###
                
                #if j == N_KEEP_PAST - 1:
                #    data_row['CEU'] = past_data.loc[j, 'CEU']
                #    data_row['DWT'] = past_data.loc[j, 'DWT']
                #    data_row['GT'] = past_data.loc[j, 'GT']
                #    data_row['vesselType'] = past_data.loc[j, 'vesselType']
                #    data_row['breadth'] = past_data.loc[j, 'breadth']
                #    data_row['enginePower'] = past_data.loc[j, 'enginePower']
                #    data_row['length'] = past_data.loc[j, 'length']
                #    data_row['yearBuilt'] = past_data.loc[j, 'yearBuilt']
            
            
            # Include vesselId and ID for result matching
            data_row['vesselId'] = vessel
            data_row['ID'] = ID
            # Append the row to the list
            data_rows.append(data_row)
    
    # Create test features DataFrame from the list of data rows
    test_features = pd.DataFrame(data_rows)
    return test_features

In [ ]:
test_final = create_test_features(train, test, N_KEEP_PAST)

In [ ]:
display(test_final.head())

In [19]:
final_train.to_csv('final_train.csv', index=False)
test_final.to_csv('test_final.csv', index=False)

# Machine learning part

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNet
import xgboost as xgb
import lightgbm as lgb
from sklearn.linear_model import Ridge
from scipy.optimize import minimize
import catboost as cb
from sklearn.ensemble import HistGradientBoostingRegressor

# Load the data
test_final = pd.read_csv('test_final.csv')
final_train = pd.read_csv('final_train.csv')


print("Initial shape of training data:", final_train.shape)
final_train = final_train.dropna()
print("Shape after dropping NaNs:", final_train.shape)


# Define features and targets
features = final_train.drop(columns=['target_lat', 'target_lon', 'vesselId', 'target_time'])
targets = final_train[['target_lat', 'target_lon']]

feature_columns = features.columns
X_test = test_final[feature_columns]

# Define the models
models = {
    'ridge_optuna': MultiOutputRegressor(Ridge(alpha=1432.7819410601255, random_state=42)),
    'lightgbm_optuna': MultiOutputRegressor(lgb.LGBMRegressor(n_estimators=82, learning_rate=0.1000124709018958, num_leaves=256, max_depth=12, min_child_samples=6, subsample=0.7895654034356272, colsample_bytree=0.705074943165495, reg_alpha=0.965623735511052, reg_lambda=0.9415109979963966, verbose=-1, random_state=42, n_jobs=-1)),
    'catboost_optuna': MultiOutputRegressor(cb.CatBoostRegressor(iterations=476, learning_rate=0.1596674384872822, depth=10, l2_leaf_reg=3.646475024083615, bagging_temperature=0.12986428988678064, random_state=42, verbose=0, thread_count=-1)),
    'histgradientboosting_optuna': MultiOutputRegressor(HistGradientBoostingRegressor(learning_rate=0.11343690296237537, max_iter=456, max_leaf_nodes=157, max_depth=13, min_samples_leaf=31, l2_regularization=0.24506344544473505, max_bins=240, random_state=42, verbose=0)),
    'xgboost_optuna': MultiOutputRegressor(xgb.XGBRegressor(n_estimators=422, max_depth=14, learning_rate=0.02124556170140244, subsample=0.614092688023698, colsample_bytree=0.5846203682106957, gamma=0.7660348189459568, reg_alpha=0.5096703756053615, reg_lambda=0.5556686221134866, objective='reg:squarederror', random_state=42, n_jobs=-1)),
}

# Prepare arrays to hold OOF predictions and test predictions
n_splits = 10
kf = KFold(n_splits=n_splits, shuffle=True, random_state=42)

oof_preds = {model_name: np.zeros((features.shape[0], targets.shape[1])) for model_name in models}
test_preds_cv = {model_name: np.zeros((X_test.shape[0], targets.shape[1], n_splits)) for model_name in models}

# Perform cross-validation and collect predictions
for fold, (train_idx, valid_idx) in enumerate(kf.split(features, targets)):
    print(f"\nFold {fold + 1}/{n_splits}")
    X_train, y_train = features.iloc[train_idx], targets.iloc[train_idx]
    X_valid, y_valid = features.iloc[valid_idx], targets.iloc[valid_idx]
    
    for model_name, model in models.items():
        print(f"Training and predicting with model: {model_name}")
        clf = model
        clf.fit(X_train, y_train)
        y_pred_valid = clf.predict(X_valid)
        y_pred_test = clf.predict(X_test)
        
        # Save OOF predictions
        oof_preds[model_name][valid_idx] = y_pred_valid
        # Save test predictions
        test_preds_cv[model_name][:, :, fold] = y_pred_test

# Define the loss function for optimization
def mse_loss(weights):
    weights = np.array(weights)
    # Normalize weights to sum to 1
    weights = weights / np.sum(weights)
    # Combine OOF predictions using the weights
    final_oof = np.zeros_like(targets.values)
    for i, model_name in enumerate(models):
        final_oof += weights[i] * oof_preds[model_name]
    # Compute mean squared error
    mse = mean_squared_error(targets.values, final_oof)
    return mse

# Optimization methods to try
methods = [
    'Nelder-Mead', 'Powell', 'CG', 'BFGS',
    'L-BFGS-B', 'TNC', 'SLSQP',
]

# Initial weights
initial_weights = np.ones(len(models)) / len(models)

# Constraints and bounds
constraints = {'type': 'eq', 'fun': lambda w: np.sum(w) - 1}
bounds = [(0, 1)] * len(models)

# Optimize weights using different methods
best_mse = np.inf
best_weights = None
best_method = None

for method in methods:
    print(f"\nOptimizing weights using method: {method}")
    try:
        if method in ['SLSQP']:
            res = minimize(mse_loss, initial_weights, method=method, bounds=bounds, constraints=constraints)
        elif method in ['L-BFGS-B', 'TNC']:
            res = minimize(mse_loss, initial_weights, method=method, bounds=bounds)
        else:
            # For unconstrained methods, weights will be normalized in mse_loss
            res = minimize(mse_loss, initial_weights, method=method)
        if res.fun < best_mse:
            best_mse = res.fun
            best_weights = res.x / np.sum(res.x)  # Normalize weights
            best_method = method
        print(f"Method: {method}, MSE: {res.fun}")
    except Exception as e:
        print(f"Method: {method}, failed with error: {e}")

# Average test predictions over folds for each model
test_preds_avg = {}
for model_name in models:
    test_preds_avg[model_name] = np.mean(test_preds_cv[model_name], axis=2)  # Average over folds

# Retrain each model on the full training data and predict on the test set
print("\nRetraining models on the full training data and generating final predictions.")
final_test_preds = {}
for model_name, model in models.items():
    print(f"Retraining model: {model_name}")
    clf = model
    clf.fit(features, targets)
    y_pred_test = clf.predict(X_test)
    final_test_preds[model_name] = y_pred_test

# Combine the test predictions using the best weights
final_test_pred = np.zeros((X_test.shape[0], targets.shape[1]))
for i, model_name in enumerate(models):
    final_test_pred += best_weights[i] * final_test_preds[model_name]

# Create a DataFrame with IDs and predictions
prediction_df = pd.DataFrame({
    'ID': test_final['ID'],
    'longitude_predicted': final_test_pred[:, 1],
    'latitude_predicted': final_test_pred[:, 0]
})

# Save the predictions to a CSV file
prediction_df.to_csv('predictions_ensemble_final.csv', index=False)
print("\nPredictions saved to 'predictions_ensemble_final.csv'.")

# Print the best method and weights
print(f"\nBest optimization method: {best_method}")
print("Best weights:")
for i, model_name in enumerate(models):
    print(f"{model_name}: {best_weights[i]:.4f}")

1.9772604016895365